section h5{
    font-size: 2.5rem;
    font-weight: lighter;
}
section h5{
    font-size: 2.1rem;
    font-weight: lighter;
}
section h5.lighter, section h5.light{
   color: rgb(5, 26, 107);
}
section#sect1{
    background-color: rgba(55, 121, 243, 0.1);
}
div.buttonNav{
    width: fit-content;
}
div.forms{
    max-width: 50%;
}
input#account_number{
    width: 50%;
}
input.sorts{
    width: 10%;
    display: inline;
}
div.rgb{
    background-color: rgba(229, 222, 222, 0.2);
}
footer p.links a{
    display: inline;
}
footer p.links a img{
    display: inline;
    width: 100px;
    height: 70px;
}
@media screen and (max-width: 1260px){
    div.forms{
        max-width: 100%;
    }
}